USE [master]
GO
/****** Object:  Database [DietaryFitnessDb]    Script Date: 5/13/2026 7:22:12 AM ******/
CREATE DATABASE [DietaryFitnessDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DietaryFitnessDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DietaryFitnessDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DietaryFitnessDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DietaryFitnessDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DietaryFitnessDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DietaryFitnessDb]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ProductCountBelowAvgCalories]    Script Date: 5/13/2026 7:22:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ProductCountBelowAvgCalories]()
RETURNS INT
AS
BEGIN
    DECLARE @ROW_COUNT INT;

    SET @ROW_COUNT = (
        SELECT COUNT(*)
        FROM dbo.[Product] AS p
        WHERE p.[ProductCaloriesPer100g] < (
                SELECT AVG(p2.[ProductCaloriesPer100g])
                FROM dbo.[Product] AS p2
            )
    );

    RETURN @ROW_COUNT;
END;
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/13/2026 7:22:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[ProductCaloriesPer100g] [float] NOT NULL,
	[ProductProteinsPer100g] [float] NOT NULL,
	[ProductFatsPer100g] [float] NOT NULL,
	[ProductCarbsPer100g] [float] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 5/13/2026 7:22:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe](
	[RecipeId] [int] IDENTITY(1,1) NOT NULL,
	[RecipeInstructions] [nvarchar](1000) NOT NULL,
	[RecipeCalories] [float] NOT NULL,
	[RecipeProteins] [float] NOT NULL,
	[RecipeFats] [float] NOT NULL,
	[RecipeCarbs] [float] NOT NULL,
	[PortionCount] [int] NOT NULL,
	[RecipeName] [nvarchar](200) NOT NULL,
	[RecipeTotalGrams] [float] NOT NULL,
 CONSTRAINT [PK_Recipe] PRIMARY KEY CLUSTERED 
(
	[RecipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeProduct]    Script Date: 5/13/2026 7:22:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeProduct](
	[RecipeId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Grams] [float] NOT NULL,
 CONSTRAINT [PK_RecipeProduct] PRIMARY KEY CLUSTERED 
(
	[RecipeId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_RecipeTotalCalories]    Script Date: 5/13/2026 7:22:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_RecipeTotalCalories]()
RETURNS TABLE
AS
RETURN
(
    SELECT
        r.[RecipeId],
        r.[RecipeName],
            SUM(p.[ProductCaloriesPer100g] * rp.[Grams] / 100.0) AS [TotalCalories]
    FROM dbo.[Recipe] AS r
    INNER JOIN dbo.[RecipeProduct] AS rp ON rp.[RecipeId] = r.[RecipeId]
    INNER JOIN dbo.[Product] AS p ON p.[ProductId] = rp.[ProductId]
    GROUP BY r.[RecipeId], r.[RecipeName]
);
GO
/****** Object:  Table [dbo].[Meal]    Script Date: 5/13/2026 7:22:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meal](
	[MealId] [int] IDENTITY(1,1) NOT NULL,
	[DailyDietPlanId] [int] NOT NULL,
	[MealOrder] [int] NOT NULL,
	[MealTime] [time](7) NOT NULL,
	[MealCalories] [float] NOT NULL,
	[MealProteins] [float] NOT NULL,
	[MealFats] [float] NOT NULL,
	[MealCarbs] [float] NOT NULL,
	[MealType] [int] NOT NULL,
 CONSTRAINT [PK_Meal] PRIMARY KEY CLUSTERED 
(
	[MealId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_MealByDailyPlanAndOrder]    Script Date: 5/13/2026 7:22:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_MealByDailyPlanAndOrder]
(
    @DailyDietPlanId INT,
    @MealOrder INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT
        m.MealId,
        m.MealOrder,
        m.MealTime,
        m.MealCalories,
        m.MealProteins,
        m.MealFats,
        m.MealCarbs
    FROM dbo.Meal AS m
    WHERE m.DailyDietPlanId = @DailyDietPlanId
      AND m.MealOrder = @MealOrder
);
GO
/****** Object:  Table [dbo].[DailyDietPlan]    Script Date: 5/13/2026 7:22:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyDietPlan](
	[DailyDietPlanId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DailyPlanCalories] [float] NOT NULL,
	[DailyPlanProteins] [float] NOT NULL,
	[DailyPlanFats] [float] NOT NULL,
	[DailyPlanCarbs] [float] NOT NULL,
	[DailyPlanDay] [date] NOT NULL,
	[DailyPlanNumberOfMeals] [int] NOT NULL,
 CONSTRAINT [PK_DailyDietPlan] PRIMARY KEY CLUSTERED 
(
	[DailyDietPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LowestCalorieMealsByPlanAndDate]    Script Date: 5/13/2026 7:22:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_LowestCalorieMealsByPlanAndDate]
(
    @DailyDietPlanId INT,
    @PlanDate DATE
)
RETURNS TABLE
AS
RETURN
(
    SELECT
        m.MealId,
        m.MealOrder,
        CASE m.MealType
            WHEN 1 THEN N'Сніданок'
            WHEN 2 THEN N'Перекус (ранковий)'
            WHEN 3 THEN N'Обід'
            WHEN 4 THEN N'Перекус (денний)'
            WHEN 5 THEN N'Вечеря'
            ELSE N'Невідомий тип'
        END AS MealName,
        m.MealCalories,
        CAST(NULL AS NVARCHAR(500)) AS Message
    FROM dbo.Meal m
    INNER JOIN dbo.DailyDietPlan d
        ON d.DailyDietPlanId = m.DailyDietPlanId
    WHERE d.DailyDietPlanId = @DailyDietPlanId
      AND d.DailyPlanDay = @PlanDate
      AND m.MealCalories = (
            SELECT MIN(m2.MealCalories)
            FROM dbo.Meal m2
            INNER JOIN dbo.DailyDietPlan d2
                ON d2.DailyDietPlanId = m2.DailyDietPlanId
            WHERE d2.DailyDietPlanId = @DailyDietPlanId
              AND d2.DailyPlanDay = @PlanDate
        )

    UNION ALL

    SELECT
        NULL,
        NULL,
        NULL,
        NULL,
        N'Плани харчування не були сформовані у «'
        + CONVERT(NVARCHAR(10), @PlanDate, 104)
        + N'».'
    WHERE NOT EXISTS (
        SELECT 1
        FROM dbo.DailyDietPlan d
        WHERE d.DailyDietPlanId = @DailyDietPlanId
          AND d.DailyPlanDay = @PlanDate
    )
);
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/13/2026 7:22:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyDietPlanLogs]    Script Date: 5/13/2026 7:22:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyDietPlanLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DailyDietPlanId] [int] NOT NULL,
	[ModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_DailyDietPlanLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealRecipe]    Script Date: 5/13/2026 7:22:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealRecipe](
	[MealId] [int] NOT NULL,
	[RecipeId] [int] NOT NULL,
 CONSTRAINT [PK_MealRecipe] PRIMARY KEY CLUSTERED 
(
	[MealId] ASC,
	[RecipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/13/2026 7:22:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Gender] [int] NOT NULL,
	[Height] [float] NOT NULL,
	[Weight] [float] NOT NULL,
	[ActivityLevel] [int] NOT NULL,
	[Goal] [int] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[LastLoginAtUtc] [datetime2](7) NULL,
	[PasswordHash] [nvarchar](512) NOT NULL,
	[PasswordSalt] [nvarchar](256) NOT NULL,
	[Age] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_DailyDietPlan_UserId_DailyPlanDay]    Script Date: 5/13/2026 7:22:13 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DailyDietPlan_UserId_DailyPlanDay] ON [dbo].[DailyDietPlan]
(
	[UserId] ASC,
	[DailyPlanDay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Meal_DailyDietPlanId_MealOrder]    Script Date: 5/13/2026 7:22:13 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Meal_DailyDietPlanId_MealOrder] ON [dbo].[Meal]
(
	[DailyDietPlanId] ASC,
	[MealOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MealRecipe_RecipeId]    Script Date: 5/13/2026 7:22:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_MealRecipe_RecipeId] ON [dbo].[MealRecipe]
(
	[RecipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecipeProduct_ProductId]    Script Date: 5/13/2026 7:22:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_RecipeProduct_ProductId] ON [dbo].[RecipeProduct]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Email]    Script Date: 5/13/2026 7:22:13 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User_Email] ON [dbo].[User]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Meal] ADD  DEFAULT ((0)) FOR [MealType]
GO
ALTER TABLE [dbo].[Recipe] ADD  DEFAULT ((1)) FOR [PortionCount]
GO
ALTER TABLE [dbo].[Recipe] ADD  DEFAULT (N'') FOR [RecipeName]
GO
ALTER TABLE [dbo].[Recipe] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [RecipeTotalGrams]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (N'') FOR [PasswordHash]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (N'') FOR [PasswordSalt]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((25)) FOR [Age]
GO
ALTER TABLE [dbo].[DailyDietPlan]  WITH CHECK ADD  CONSTRAINT [FK_DailyDietPlan_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DailyDietPlan] CHECK CONSTRAINT [FK_DailyDietPlan_User_UserId]
GO
ALTER TABLE [dbo].[Meal]  WITH CHECK ADD  CONSTRAINT [FK_Meal_DailyDietPlan_DailyDietPlanId] FOREIGN KEY([DailyDietPlanId])
REFERENCES [dbo].[DailyDietPlan] ([DailyDietPlanId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Meal] CHECK CONSTRAINT [FK_Meal_DailyDietPlan_DailyDietPlanId]
GO
ALTER TABLE [dbo].[MealRecipe]  WITH CHECK ADD  CONSTRAINT [FK_MealRecipe_Meal_MealId] FOREIGN KEY([MealId])
REFERENCES [dbo].[Meal] ([MealId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MealRecipe] CHECK CONSTRAINT [FK_MealRecipe_Meal_MealId]
GO
ALTER TABLE [dbo].[MealRecipe]  WITH CHECK ADD  CONSTRAINT [FK_MealRecipe_Recipe_RecipeId] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[Recipe] ([RecipeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MealRecipe] CHECK CONSTRAINT [FK_MealRecipe_Recipe_RecipeId]
GO
ALTER TABLE [dbo].[RecipeProduct]  WITH CHECK ADD  CONSTRAINT [FK_RecipeProduct_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecipeProduct] CHECK CONSTRAINT [FK_RecipeProduct_Product_ProductId]
GO
ALTER TABLE [dbo].[RecipeProduct]  WITH CHECK ADD  CONSTRAINT [FK_RecipeProduct_Recipe_RecipeId] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[Recipe] ([RecipeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecipeProduct] CHECK CONSTRAINT [FK_RecipeProduct_Recipe_RecipeId]
GO
ALTER TABLE [dbo].[DailyDietPlan]  WITH CHECK ADD  CONSTRAINT [CK_DailyDietPlan_Calories_NonNegative] CHECK  (([DailyPlanCalories]>=(0)))
GO
ALTER TABLE [dbo].[DailyDietPlan] CHECK CONSTRAINT [CK_DailyDietPlan_Calories_NonNegative]
GO
ALTER TABLE [dbo].[DailyDietPlan]  WITH CHECK ADD  CONSTRAINT [CK_DailyDietPlan_Carbs_NonNegative] CHECK  (([DailyPlanCarbs]>=(0)))
GO
ALTER TABLE [dbo].[DailyDietPlan] CHECK CONSTRAINT [CK_DailyDietPlan_Carbs_NonNegative]
GO
ALTER TABLE [dbo].[DailyDietPlan]  WITH CHECK ADD  CONSTRAINT [CK_DailyDietPlan_Fats_NonNegative] CHECK  (([DailyPlanFats]>=(0)))
GO
ALTER TABLE [dbo].[DailyDietPlan] CHECK CONSTRAINT [CK_DailyDietPlan_Fats_NonNegative]
GO
ALTER TABLE [dbo].[DailyDietPlan]  WITH CHECK ADD  CONSTRAINT [CK_DailyDietPlan_NumberOfMeals_Range] CHECK  (([DailyPlanNumberOfMeals]>=(1) AND [DailyPlanNumberOfMeals]<=(5)))
GO
ALTER TABLE [dbo].[DailyDietPlan] CHECK CONSTRAINT [CK_DailyDietPlan_NumberOfMeals_Range]
GO
ALTER TABLE [dbo].[DailyDietPlan]  WITH CHECK ADD  CONSTRAINT [CK_DailyDietPlan_Proteins_NonNegative] CHECK  (([DailyPlanProteins]>=(0)))
GO
ALTER TABLE [dbo].[DailyDietPlan] CHECK CONSTRAINT [CK_DailyDietPlan_Proteins_NonNegative]
GO
ALTER TABLE [dbo].[Meal]  WITH CHECK ADD  CONSTRAINT [CK_Meal_Calories_NonNegative] CHECK  (([MealCalories]>=(0)))
GO
ALTER TABLE [dbo].[Meal] CHECK CONSTRAINT [CK_Meal_Calories_NonNegative]
GO
ALTER TABLE [dbo].[Meal]  WITH CHECK ADD  CONSTRAINT [CK_Meal_Carbs_NonNegative] CHECK  (([MealCarbs]>=(0)))
GO
ALTER TABLE [dbo].[Meal] CHECK CONSTRAINT [CK_Meal_Carbs_NonNegative]
GO
ALTER TABLE [dbo].[Meal]  WITH CHECK ADD  CONSTRAINT [CK_Meal_Fats_NonNegative] CHECK  (([MealFats]>=(0)))
GO
ALTER TABLE [dbo].[Meal] CHECK CONSTRAINT [CK_Meal_Fats_NonNegative]
GO
ALTER TABLE [dbo].[Meal]  WITH CHECK ADD  CONSTRAINT [CK_Meal_Proteins_NonNegative] CHECK  (([MealProteins]>=(0)))
GO
ALTER TABLE [dbo].[Meal] CHECK CONSTRAINT [CK_Meal_Proteins_NonNegative]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_CaloriesPer100g_NonNegative] CHECK  (([ProductCaloriesPer100g]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_CaloriesPer100g_NonNegative]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_CarbsPer100g_NonNegative] CHECK  (([ProductCarbsPer100g]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_CarbsPer100g_NonNegative]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_FatsPer100g_NonNegative] CHECK  (([ProductFatsPer100g]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_FatsPer100g_NonNegative]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_ProteinsPer100g_NonNegative] CHECK  (([ProductProteinsPer100g]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_ProteinsPer100g_NonNegative]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [CK_Recipe_Calories_NonNegative] CHECK  (([RecipeCalories]>=(0)))
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [CK_Recipe_Calories_NonNegative]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [CK_Recipe_Carbs_NonNegative] CHECK  (([RecipeCarbs]>=(0)))
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [CK_Recipe_Carbs_NonNegative]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [CK_Recipe_Fats_NonNegative] CHECK  (([RecipeFats]>=(0)))
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [CK_Recipe_Fats_NonNegative]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [CK_Recipe_PortionCount_MinOne] CHECK  (([PortionCount]>=(1)))
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [CK_Recipe_PortionCount_MinOne]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [CK_Recipe_Proteins_NonNegative] CHECK  (([RecipeProteins]>=(0)))
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [CK_Recipe_Proteins_NonNegative]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [CK_Recipe_TotalGrams_NonNegative] CHECK  (([RecipeTotalGrams]>=(0)))
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [CK_Recipe_TotalGrams_NonNegative]
GO
ALTER TABLE [dbo].[RecipeProduct]  WITH CHECK ADD  CONSTRAINT [CK_RecipeProduct_Grams_NonNegative] CHECK  (([Grams]>=(0)))
GO
ALTER TABLE [dbo].[RecipeProduct] CHECK CONSTRAINT [CK_RecipeProduct_Grams_NonNegative]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK_User_Age_Range] CHECK  (([Age]>=(10) AND [Age]<=(120)))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK_User_Age_Range]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK_User_Height_NonNegative] CHECK  (([Height]>=(0)))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK_User_Height_NonNegative]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK_User_Weight_NonNegative] CHECK  (([Weight]>=(0)))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK_User_Weight_NonNegative]
GO
/****** Object:  StoredProcedure [dbo].[usp_RecipeProduct_Add]    Script Date: 5/13/2026 7:22:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_RecipeProduct_Add]
    @RecipeId   INT,
    @ProductId  INT,
    @Grams      FLOAT
AS
BEGIN
    IF @Grams IS NULL OR @Grams < 0
    BEGIN
        PRINT(N'Кількість у грамах має бути невід''ємним числом.');
        RETURN;
    END;

    IF NOT EXISTS (
        SELECT 1
        FROM dbo.[Recipe] r
        WHERE r.RecipeId = @RecipeId
    )
    BEGIN
        PRINT(N'Рецепт з вказаним ідентифікатором відсутній.');
        RETURN;
    END;

    IF NOT EXISTS (
        SELECT 1
        FROM dbo.[Product] p
        WHERE p.ProductId = @ProductId
    )
    BEGIN
        PRINT(N'Продукт з вказаним ідентифікатором відсутній у довіднику.');
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM dbo.[RecipeProduct] rp
        WHERE rp.RecipeId = @RecipeId
          AND rp.ProductId = @ProductId
    )
    BEGIN
        UPDATE dbo.[RecipeProduct]
        SET Grams = Grams + @Grams
        WHERE RecipeId = @RecipeId
          AND ProductId = @ProductId;
    END
    ELSE
    BEGIN
        INSERT INTO dbo.[RecipeProduct] (RecipeId, ProductId, Grams)
        VALUES (@RecipeId, @ProductId, @Grams);
    END;
END;

GO
/****** Object:  StoredProcedure [dbo].[usp_RecipeProduct_AddByName]    Script Date: 5/13/2026 7:22:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_RecipeProduct_AddByName]
    @ProductName NVARCHAR(100),
    @RecipeId     INT,
    @Grams        FLOAT = 100
AS
BEGIN
    DECLARE @ProductId INT;
    DECLARE @Name NVARCHAR(100) = NULLIF(LTRIM(RTRIM(@ProductName)), N'');

    IF @Name IS NULL
    BEGIN
        PRINT(N'Назва продукту не може бути порожньою.');
        RETURN;
    END;

    IF @Grams IS NULL OR @Grams <= 0
    BEGIN
        PRINT(N'Кількість у грамах має бути більша за нуль.');
        RETURN;
    END;

    IF NOT EXISTS (
        SELECT 1
        FROM dbo.[Recipe] AS r
        WHERE r.RecipeId = @RecipeId
    )
    BEGIN
        PRINT(N'Рецепт з вказаним ідентифікатором відсутній.');
        RETURN;
    END;

    SELECT TOP (1)
        @ProductId = p.ProductId
    FROM dbo.[Product] AS p
    WHERE p.ProductName = @Name
    ORDER BY p.ProductName ASC;

    IF @ProductId IS NULL
    BEGIN
        PRINT(N'Продукт з такою назвою відсутній у довіднику.');
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM dbo.[RecipeProduct] AS rp
        WHERE rp.RecipeId = @RecipeId
          AND rp.ProductId = @ProductId
    )
    BEGIN
        UPDATE dbo.[RecipeProduct]
        SET Grams = Grams + @Grams
        WHERE RecipeId = @RecipeId
          AND ProductId = @ProductId;
    END
    ELSE
    BEGIN
        INSERT INTO dbo.[RecipeProduct] (RecipeId, ProductId, Grams)
        VALUES (@RecipeId, @ProductId, @Grams);
    END;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_User_Insert]    Script Date: 5/13/2026 7:22:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_User_Insert]
    @FirstName       NVARCHAR(100),
    @LastName        NVARCHAR(100),
    @Email           NVARCHAR(100),
    @Gender          INT,            
    @Age             INT,
    @Height          FLOAT,     
    @Weight          FLOAT,    
    @ActivityLevel   INT,         
    @Goal            INT,        
    @PasswordHash    NVARCHAR(512),
    @PasswordSalt    NVARCHAR(256),
    @CreatedAtUtc    DATETIME2(7) = NULL
AS
BEGIN
    INSERT INTO dbo.[User] (
        FirstName,
        LastName,
        Email,
        Gender,
        Age,
        Height,
        Weight,
        ActivityLevel,
        Goal,
        PasswordHash,
        PasswordSalt,
        CreatedAtUtc,
        LastLoginAtUtc
    )
    VALUES (
        @FirstName,
        @LastName,
        @Email,
        @Gender,
        @Age,
        @Height,
        @Weight,
        @ActivityLevel,
        @Goal,
        @PasswordHash,
        @PasswordSalt,
        @CreatedAtUtc,
        NULL
    );
END;
GO
USE [master]
GO
